[submodule "credible-std"]
	path = testdata/mock-protocol/lib/credible-std
	url = https://github.com/phylaxsystems/credible-std
[submodule "testdata/mock-protocol/lib/openzeppelin-contracts"]
	path = testdata/mock-protocol/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "testdata/mock-protocol/lib/forge-std"]
	path = testdata/mock-protocol/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/credible-layer-dapp"]
	path = lib/credible-layer-dapp
	url = git@github.com:phylaxsystems/credible-layer-dapp.git
