[workspace]
members = [
  "bin/cl", 
]
default-members = ["bin/cl"]
resolver = '2'


[workspace.package]
version = "0.0.1"
authors = ["Phylax Systems"]
edition = "2021"
rust-version = "1.80"
license = "GPL-3.0-only"
repository = "https://github.com/phylaxsystems/cl"
exclude = [".github/"]