[package]
name = "pcl"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
pcl-phoundry = { workspace = true }

clap = { workspace = true }
tokio = { workspace = true }
eyre = { workspace = true }

[build-dependencies]
vergen-gix = { version = "1.0.3", features = ["build", "cargo", "rustc", "si"] }
anyhow = "1"